# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Python cache
API/__pycache__/


# Ignore large 3D heart HTML exports in BodyCheckUi
PublicUI/public/3Dheart/case005.html
PublicUI/public/3Dheart/case141.html


# Backend git Ignore
*venv
BodyCheck_Backend_CSV/*.json

API/gen-lang-client-*.json
